body {
  background-color: #fafafa;
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
}
main {
  margin-left: auto;
  margin-right: auto;
  background-color: white;

  padding: 32px 57px;
}

@media print {
  main {
    margin: 0px 0px;
    padding: 0px 0px;
  }
}
